$default-font-family: PixelFont, Arial, sans-serif; /* Do not use quotes, because of social cards */
$default-theme: 'pink';

$help-text: #333;

$spacing-unit: 6px;
$card-width: 30em;
$card-text-align: center;
$card-border-radius: $spacing-unit*4;
$card-font-size: 1.3rem;
$card-line-height: 1.7rem;

$card-background: #faafb8 !default;
$card-text: #fff !default;

$card-inner-border: lighten($card-background, 13%) !default;
$card-inner-shadow: darken(adjust-color($card-background, $red: -30), 10%) !default;
$card-outer-shadow: lighten($card-background, 3%) !default;
$card-text-shadow: darken($card-text, 60%) !default;
