/*
$card-background: #faafb8;
$card-border: #fcf0ee;
$card-inner-border: #fcf0ee;
$card-inner-shadow: #df9aa5;
$card-outer-shadow: #f2c9d2;
$card-text: #fff;
$card-text-shadow: #9a5a62;
*/

$card-background: #faafb8;
$card-text: #fff;
